[package]
name = "prima_datadog"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dogstatsd = "^0.6"
once_cell = "^1.8"
thiserror = "1.0.25"
