[package]
name = "prima_datadog"
version = "0.3.0"
edition = "2018"
description = "An opinionated library to share code and approach to Datadog logging in prima.it"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dogstatsd = { git =  "https://github.com/mcasper/dogstatsd-rs.git", branch = "master", default-features = false }
once_cell = "1.9"
thiserror = "1.0"

[dev-dependencies]
mockall = "0.11"
serial_test = "0.7"
